html
  head
    title Adding a new song
  body

    if success
      p Please fill all the forms to add a new song.
    else
      p Song successfully added
    
    p Click 
      a(href='/') here
      |  to return
